body{
    font-family: 'Comfortaa', cursive;
    margin: 0%;
}
h1{
    font-size: 50px;
    color: white;
    padding-top: 150px;
    margin: auto;
    font-weight: bold;
}
h2{
    font-size: 35px;
    text-align: center;
}
h3{ 
    font-size: 25px;
    text-align: center;
    color: #707070;
}
p{  
    color: #707070;
    text-align: center;
    margin-bottom: 20px;
}
form{
    display: block;
    margin: 0 auto;
}
#exclusive-color{
    color: white;
}
#selected-area{
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}
#w-1{
    background-color: #EDF5F6;
    border-radius: 5px;
}
#w-2{
    background-color: #FFEEEE;
    border-radius: 5px;
}
#w-3{
    background-color: #FFF4D6;
    border-radius: 5px;
}
#email-submit{
    height: 40px;
    background-color: #D9D9D9;
    border: none;
    outline-style: none;
    border-radius: 4px;
}
#btn-sub{
    color: white;
    height: 40px;
    margin-left: -5px;
    padding: 0 30px;
    background-color: #FF5959;
    border: none;
    border-radius: 4px;
}
.topSection{
    width: 100%;
    background-image: url("images/Rectangle 237.png");
    height: 650px;
}
.banner-area{
    text-align: center;
    padding: 0 25%;
}
.btn{
    display: block;
    padding: 15px 20px;
    background-color: #FF5959;
    font-weight: bold;
    border-radius: 5px;
    margin: auto;
    border: none;
}
.link-btn{
    text-decoration: none;
    color: white;
}
.donate-area{
    padding:0 25%;
}
.donate-h1{
    display: flex;
    justify-content: center;
    margin-bottom: 60px
}
.input-amount{
    height: 25px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: none;
    outline-style: none;
    font-size: 15px;
}
.w-10{
    width: 10%;
    padding: 20px 0px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #FAFAFA;
}
.rule-customize{
    width: 56%;
}
.flex-container{
    margin-top:60px;
    display: flex;
    justify-content: center;
}
.w-25{
    width: 25%;
    margin-left: 1%;
    margin-right:1%;
    padding: 2% 1%;
}
.flex-container h3{
    color: black;
    text-align: left;
}
.flex-container p{
    text-align: left;
}
.memory-area{
    width: 100%;
    display: flex;
}
.memory-area img{
    height: 300px;
    width: 400px;
}
.memory{
    width: 25%;
    margin: 0 auto;
}
.update-area{
    margin-bottom: 50px;
}
.update-p1{
    display: flex;
    padding:5% 0 ;
    margin: 0 25%;
    background-color: #FFF4D6;
}
.footer-area{
    background-color: #0B0D17;
    padding: 5% 0;
}
.footer-area h2{
    margin: 0 auto;
    color: #FF5959;
}
.footer-area p{
    color: white;
    font-size: 15px;
}
